<% if ::Refinery::Pages.new_page_parts %>
  <ul id="page_parts_controls">
    <li>
      <%= link_to refinery_icon_tag('arrow_switch.png'), '#',
                  id: 'reorder_page_part',
                  title: t('.reorder_content_section') %>
      <%= link_to refinery_icon_tag('tick.png'), "",
                  id: 'reorder_page_part_done',
                  title: t('.reorder_content_section_done'),
                  style: "display: none;" %>
    </li>
    <li>
      <%= link_to refinery_icon_tag('add.png'), '#',
                  id: 'add_page_part',
                  title: t('.create_content_section') %>
    </li>
    <li>
      <%= link_to refinery_icon_tag('delete.png'), '#',
                  title: t('.delete_content_section'),
                  class: 'delete_page_part',
                  name: t('.delete_content_section'),
                  id: 'delete_page_part' %>
    </li>
  </ul>
<% end %>
<%= page_tabs_and_editors(@page, f) %>

